.App {
  text-align: center;
  background-color: aqua;
}

.App .item-list {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  cursor: pointer;
}

.App .item-list .item-text {
  display: inline-block;
  cursor: pointer;
}


.App .item-list .delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}